/*!
*   Custom style.scss - imports theme styles and custom overrides
*/

/* Import theme's SCSS files directly */
@import "../../themes/hugo-theme-stack/assets/scss/breakpoints.scss";
@import "../../themes/hugo-theme-stack/assets/scss/variables.scss";
@import "../../themes/hugo-theme-stack/assets/scss/grid.scss";

@import "../../themes/hugo-theme-stack/assets/scss/external/normalize.scss";

@import "../../themes/hugo-theme-stack/assets/scss/partials/menu.scss";
@import "../../themes/hugo-theme-stack/assets/scss/partials/article.scss";
@import "../../themes/hugo-theme-stack/assets/scss/partials/widgets.scss";
@import "../../themes/hugo-theme-stack/assets/scss/partials/footer.scss";
@import "../../themes/hugo-theme-stack/assets/scss/partials/pagination.scss";
@import "../../themes/hugo-theme-stack/assets/scss/partials/sidebar.scss";
@import "../../themes/hugo-theme-stack/assets/scss/partials/base.scss";
@import "../../themes/hugo-theme-stack/assets/scss/partials/layout/article.scss";
@import "../../themes/hugo-theme-stack/assets/scss/partials/layout/list.scss";
@import "../../themes/hugo-theme-stack/assets/scss/partials/layout/404.scss";
@import "../../themes/hugo-theme-stack/assets/scss/partials/layout/search.scss";

@import "../../themes/hugo-theme-stack/assets/scss/general.scss";

/* Import our custom styles last to override theme styles */
@import "custom.scss";
